<main>
    <div class="footer">
        <br>
        <div class="container">
        <div class="row">
            <div class="col-6 ">
                <p class="word border-down">Nos réseaux</p>
                <a href="ee"><span class="icon"><i class="fi fi-facebook"></i></span></a>
                <a href="ee"><span class="icon"> <i class="fi fi-instagram"></i></span></a>
                <a href="ee"><span class="icon"> <i class="fi fi-twitter"></i> </span></a>
            </div>
            <div class="col-6">
                <p class="word border-down">Nous contacter</p>
                <p><span class="border-down">Email</span>: FruitsMarket@gmail.com</p>
                <p><span class="border-down">Tél</span>: 0139930021</p>
            </div>
        </div><br>
    </div>
        <p class="copyright">© Copyright 2020 Fruits Market - All Rights Reserved</p>
    </div>
</main>
