main{
    background-color:rgb(225, 255, 197);
    .title{
        text-align: center;
    }
    .border-down{
        border-bottom: green 1px solid;
    }
    .card{
        width: 250px;
        .btn-validate{
            background-color:rgb(198, 218, 180);
            color: black;
            margin: auto;
        }
        .card-text{
            text-align: center;
        }
    }
}