main{
    .navbar-nav{
        margin-left: 680px;
    }
    .logo{
        display: flex;
        color: green;
        text-decoration: none;
    }
    .word1-title{
        margin-top: 17px;
        margin-left: 60px;
        font-size: x-large;
    }
    .word2-title{
        margin-top: 17px;
        font-size: x-large;
    }
    .categorys-color{
        background-color: rgb(231, 238, 225);
    }

}