main{
    background-color:rgb(225, 255, 197);
    a{
        color: green;
    }
    .title{
        text-align: center;
    }
    .border-down{
        border-bottom: green 1px solid;
    }
    .btn-validate{
        background-color:rgb(198, 218, 180);
        color: black;
        width: 300px;
        margin: auto;
    }
}