<main>
  <div class="container"><br><br>
      <h3 class="title border-down">Inscription</h3><br>
      <!-- onSubmit => fonction onSubmit=> fonction dans register.component.ts-->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
           <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" placeholder="Nom" formControlName="nom">
        </div>
        <div class="form-group">
          <label for="prenom">Prénom</label>
          <input type="text" class="form-control" placeholder="Prénom" formControlName="prenom">
        </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" placeholder="Adresse Email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="pwd">Mot de passe</label>
            <input type="password" class="form-control" id="pwd" placeholder="Mot de passe" formControlName="pwd">
          </div>
          <div class="btn-validate">
          <button class="btn btn-success btn-validate">S'inscrire</button>
      </div>
        </form><br><br><br><br>

  </div>
</main>